.calculator{
	width:240px;
	height:auto;
	margin:3% auto;
	background: #222020 ;
	border-radius: 20px;

}
.inputDisplay{
	width:86%;
	height:54px;
	margin:20px 0px 0px 12px;
	padding-right:9px;
	background:#858585;
	text-align:right;
	border-radius:6px;
	border:1px solid #6B6B6B;
	font-size:26px;
	font: Arial, Helvetica, sans-serif;
}
.screen:focus{
	outline:none;
}
p{
  text-align: center;
  line-height: -12px;
}
.buttons{
	width:220px;
	margin:12px;
}
.buttons button{
	width:45px;
	height:45px;
	padding:0;
	margin:0px 0px 10px 5px;
	border:1px solid rgb(48, 72, 41);
	border-radius:6px;
	color:#CCC;
	font:24px "Trebuchet MS", Arial, Helvetica, sans-serif;
	line-height: 45px;
	background:rgb(66, 95, 61);
}
.buttons button:active {
	color:#FFF;
	border:1px solid #333;
}
#clear{
	background-color:#c4b704;
	border:1px solid #c4b704;
}
#clear:active{
	border:1px solid #d02200;
}
#equal{
	width:100px;
	background-color: #c4b704 ;
	border:1px solid ##c4b704  ;
	
}
#equal:active{
	border:1px solid #039;
	
}
#minus, #plus, #divide, #multiply{
	background-color: rgb(0, 102, 12);
	border:1px solid rgb(0, 102, 12);
	
}
#minus:active, #plus:active, #divide:active, #multiply:active{
	border:1px solid #039;

}
